*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    height: 100%;
    width: 50%;
}

.btns{
    margin-top: 10%;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

section img{
    height: 100%;
}

button{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    background: #ffffff3f;
}

#Yoda{
    background-color: #747160;
}

#DarthVader{
    background-color: #0a0001;
}